<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>YOUR PIG LATIN</title>
  </head>
  <body>
    <h1>Your Pig Latin:</h1>

    <p><%= @piglatin %></p>


  </body>
</html>